/* ======= STYLES ======= */

.library-hero-container {
    max-width: 100%;
    height: auto;
}

.library-hero-image{
    background-image: url(../images/library-spring.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    max-width: initial;
    left: 50%;
    margin-left: -50vw;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;
    

}

.library-search-container {
    position: absolute;
    background-color: rgba(2255, 255, 255, 0.50);  
    backdrop-filter: blur(15px) saturate(180%);
    border-radius: .5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: 0 auto;
    padding: 2rem 2rem 2em 2rem;
    border: .1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 40px rgba(31, 38, 135, 0.2);
    max-width: 650px;
}

.library-search-content {
//width: 100%;
}

.library-header h2 {
    font-family: "Lato","Hind",Arial,sans-serif;
    color: black;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.library-search-box {

}

.library-search-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0px 0px 0px 30px;
    margin: 0 auto; 
 width: 100%;
}

.search-options-row {
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.search-options-column {
display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
// align-self: flex-end;
  //text-align: center;
}

.library-search-item {
    //display: flex;
    //flex: 1;
    //align-self: center;
    //box-sizing: border-box;
    //padding: .8rem;
    //width: 50px;  /* Or whatever */
//height: 100px; /* Or whatever */
  //margin: auto;
  //justify-content: center;

}

.library-search-item a {
color: black;
font-size: .95rem;
font-weight: 600;
  font-family: Hind, Arial, sans-serif;
  text-align: right;
  text-shadow: none;

}

.library-search-item a:hover {
text-decoration: underline;
color: black;
}

/* ==== PRIMO SEARCH ==== */

.library-primo-container {
  display: flex;
  margin-bottom: 20px;
  
}
.library-primo-container input {
	display: block;
	font-size: 1rem;
	font-family: Hind, Arial, sans-serif;
	margin: 0;
    width: 100%;
}
.library-primo-container input[type=text] {
	flex-basis: 80%;
  height: 50px;
    padding: 5px 15px; 
  line-height: 40px;
  font-size: 1rem;
  border: 2px solid #ddd;
  box-sizing: border-box;
  background: #fff;
}
.library-primo-container button[type=submit] {
	flex-basis: 20%;
  height: 50px;
  line-height: 50px;
  background: #243C6D;
  border: none;
  box-sizing: border-box;
  padding: 0 1.5rem;
  color: #fff;
  transition: all .2s;
  max-width: 90px;
}


.submit-button .dashicons-search {
color: white;
position: relative;
left: -4px;
top: 10px;
font-size: 30px;
z-index: 3;
}

.dashicons-search :hover {
cursor: pointer;
}



.library-primo-container button[type=submit]:hover {
  cursor: pointer;
  background: #132545;
  color: #fff;
}

/* ==== END PRIMO SEARCH ==== */

/* ==== MEDIA QUERIES ==== */
@media screen and (min-width: 800px) {
    .library-hero-image {
        height: 500px;
    }
    .library-search-container {
        width: 75%;
    }
    }

    @media screen and (min-width: 600px) { 
        .library-hero-image {
        height: 400px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .library-search-container {
        width: 75%;
    }
    }

    @media screen and (max-width: 600px) { 

        .library-hero-image {
            margin-top: 100px;
        }
    .library-search-container {
        width: 75%;
    }

    .library-search-options {
        padding: 0;
        margin: 2px;
    }


    @media screen and (max-width: 700px) {
        .library-search-item a {
            font-size: .85rem;
        }
    }
    }